<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test API with SILEX &amp; Fractal</title>
</head>
<body>
	Welcome to silex framework.<br/><br/>
	Available route:
	<ul>
		<li>Login route: POST /login
			<ul>
				<li>email</li>
				<li>password</li>
			</ul>
		</li>
		<li>Require auth token route: GET /user</li>
		<li>Require auth token route: GET /user/{id}</li>
	</ul>
</body>
</html>